.todo-list {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

a:visited {
  color: blueviolet;
}

a:focus {
  color: orangered;
}

a:active {
  color: aqua;
}