  .todo-list {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: blue;
  }

  a:visited {
    color: blueviolet;
  }

  a:focus {
    color: green;
    outline: 3px solid green;
    border-radius: 1rem;
  }

  a:active {
    color: yellowgreen;
  }